@CHARSET "UTF-8";

.avatarthumb {
	margin-top: -16px;
	margin-bottom: -12px;
}

#navbarlogo {
	margin-top: -12px;
}

.btn-file {
	position: relative;
	overflow: hidden;
}

.btn-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 999px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	background: red;
	cursor: inherit;
	display: block;
}

input[readonly] {
	background-color: white !important;
	cursor: text !important;
}

.img_center {
	margin-top: 40px;
	margin: auto;
	margin-bottom: 40px;
}

.bigthumb {
	margin: auto;
	margin-top: 30px;
}


