body {
	background-color: #eee;
}

.hyperspan {
	width: 100%;
	height: 300px;
}

.div_btn_label {
	margin-top: 120px;
}

.withmargins {
	margin-top: 10px;
}

.glyphicon-user {
	margin-left: 13px;
	margin-right: 13px;
}